pkgbase = jsdoc
	pkgdesc = An API documentation generator for JavaScript
	pkgver = 3.6.10
	pkgrel = 2
	url = https://github.com/jsdoc3/jsdoc
	arch = any
	license = APACHE
	makedepends = npm
	depends = nodejs
	provides = nodejs-jsdoc
	conflicts = nodejs-jsdoc
	replaces = nodejs-jsdoc
	source = https://registry.npmjs.org/jsdoc/-/jsdoc-3.6.10.tgz
	sha512sums = 21d43ca694a8e4b299f68dccf8b28820af22d340c87b99ac0ef1b71bcd4a9bed5d872d17ace583d098bc1fad44960c848ff3bd2912e892029b00cf575fd08902

pkgname = jsdoc
